<!DOCTYPE html>
<html>
<head>
	<title>
		Doggio!
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/signIn.js"></script>
</head>
<body>
		Email:<input type="text" id="email" placeholder="email"><br>
		Username:<input type="text" id="username" placeholder="username"><br>
		Senha:<input type="password" id="senha" placeholder="password"><br>
		Confirmar senha:<input type="password" id="confSenha" placeholder="confirmar a senha"><br>
		<button id="register">Registrar</button>
</body>
</html>